/* start globle */
*{margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}
body{
font-family: 'reem Kufi fun',sans-serif;
}
.container{
width: 90%;
margin: auto;
}

 .section-header {
     text-align: center;  
 }
 .section-header .section-title{
     font-size: 35px;
     text-transform: capitalize;
     margin-bottom: 9px;
     margin-top: 6px;
 }
 .section-header .line{
     display: block;
     width: 90px;
     height: 4px;
     background-color: #909090;
     margin: 0  auto  70px  auto;
     transition: all .8s ease-in-out; 
 } 
 .section-header:hover .line{
    width: 200px;
 }
ul{
    margin: 0;
   padding: 0;
    list-style: none;
}
a {text-decoration: none;}
.clearfix{clear: both;}
/* end global////////////////////////////////////////////// */
/* start header/////////////// ////////////////////////////////*/
.header-main{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    border-bottom: 1px solid #909090;
    box-shadow: 2px 2px 5px #96bbd3;
}
.header-main .contact{
 margin-left: 30px;
 letter-spacing: 2px;
}
.contact i{
    color: #909090;
    padding: 20px;
    font-size: 18px;
}
.contact i:hover{color: #96bbd3;
font-size: 22px;}
.header-main .logo{
    color: #909090;
    text-align: center;
    font-size: 30px;
    text-shadow:5px 5px 5px #96bbd3;  
}
.header-main .search-box {display: flex;
    padding:10px 20px;
    background: #96bbd3;
    border-radius: 30px;
    margin-right: 50px;
    cursor: pointer;
    box-shadow: 0 10px 20px rgba(0,0,0,0.4);
}
.search-box input{
    width: 0;
    outline: none;
    border: none;
    font-weight: 500;
    transition-duration: 0.8s;
    background: transparent;
}
.search-box input::placeholder{
    font-size: 20px;}
.search-box:hover input{
    width: 200px;
}

/* start of navbar------------------------------------------- */
.navbar{position: fixed;
    width: 100%;
    height: 50px;
    margin: .5rem auto;
    background: #96bbd3;
    z-index: 100;
    float: left;
}
.nav-links {
display: inline-block;
float: left;
margin-left: 20px;
padding: .4rem .3rem;
border: none;
transition: .5s;
}
.nav-links:hover::after{ content: "";
    top: 50%;
    left: 55%;
    border:1px solid #909090;
}
.nav-link .nav-a{
    display: inline-block;
    padding: 0 0.8rem;
font-size: 20px;
font-weight: 600;
line-height: 3rem;
letter-spacing: 1px;
text-transform: capitalize;
color: #dbe3e7;
transition: 0.6s;
}
.nav-link .nav-a:hover{
    transform: scale(1.2);
 color: #909090;
} 
.nav-links .offers{
    color: rgb(168, 5, 5);
    font-weight: 800;
}
/* nav icons//////////////////// */
.nav-icons{ float:right;
 overflow: auto;}
 .nav-icons ul li{display: inline-block;
    float: right;
}
.nav-icons a {
display: block;
padding: 8px;
font-size: 22px;
color: #dbe3e7;
margin-right: 20px; }
 .nav-icons .fa-heart:hover{
color: red;
font-size: 40px;} 
.nav-icons .fa-shopping-cart:hover{
    color: rgb(51, 51, 250);
    font-size: 40px;
}  
/* dropdown link//////////////////////////// */
.nav-links{
    position: relative;
}
.dropdown{
    position: absolute;
    top: 90% ;
    left: 0;
    width: 120px;
    background-color: #f2f2f2;
    z-index: 100;
    transform: translateY(10px);
    opacity: 0;
    pointer-events: none;
    transition: .5s;
}
.dropdown ul{
    position: relative;
    }
.dropdown-link > a{     display: flex;
    background-color: #f2f2f2;
    color: #96bbd3;
    padding: 8px;
    font-size: 18px;
    transition: .4s;
}
.dropdown-link:hover > a{
    background-color: #909090;
    color: #f2f2f2;
}
.dropdown-link .fa-caret-right{padding-left: 12px;}
.dropdown-link:not(:nth-last-child(2)){
    border-bottom: 1px solid #96bbd3;
}

.arrow{
    position: absolute;
    width: 10px;
    height: 10px;
    top: -6px;
    left: 30px;
    background-color: #f2f2f2;
    transform: rotate(45deg);
    cursor: pointer;
    transition: .4s;
    z-index: -1;
}
.dropdown-link:first-child:hover ~ .arrow{
    background-color: #909090;
}
/* sub-menu/////////////////////////////// */
.dropdown-link{position: relative;}
.dropdown.second{
    top: 0;
    left: 100%;
    cursor: pointer;
    margin-left: 5px;
    transform: translateX(10px);
}
.nav-links:hover > .dropdown,
.dropdown-link:hover > .dropdown{
    transform: translate(0,0);
    opacity: 1;
    pointer-events: auto;
}
/* /* end of dropdown menu///////////// * */
/* end of navbar////////////////////////// */
/* end of header//////////////////// */

/* start of main-home----------------- */
.home-container{
    position: relative;
display: flex;
flex-flow: row wrap;
    height: 80vh;
    width: 80%;
    left: 10%;
    margin-top: 50px;
    background-color: #96bbd3;
    border-radius: 5px;
}

.antique{ 
    flex: 2;
    justify-content: space-between;
    align-items: center;
    margin-top: 15%;
    margin-left: 90px;
}
.antique h2{
    font-size: 40px;
    color: #726f6f;
    letter-spacing: 1px;
    word-spacing: 2px;
}
.antique span{
    color: rgb(235, 228, 133);
}
.antique button{  
     margin-top: 20px;
     border: 1px solid #909090;
}
.antique button a{
    padding: 15px;
    font-size: 15px;
    font-weight: 600;
    color: #8dc5eb;
    background-color: #f2f2f2;
    cursor: pointer;
    border-radius: 20px;
}
.antique button a:hover{
    color: rgb(235, 228, 133);
background-color: #726f6f;
}
.antique-img img{flex: 1;
    width: 400px;
    height: 300px;
    justify-content: space-between;
    align-items: center;
    margin-top: 40%;
margin-right: 20px;
}
/* end of main-home//////////////////////// */

/* first seection  -----antique gallery */
.antiq-parent{ float: left;
 overflow: hidden;
}
#special{
    font-size: 40px;
    font-weight: 800;
    color: #909090;
    letter-spacing: 1px;
    word-spacing: 2px;
    text-align: center;
    margin: 40px auto;
}
.items{
    width: 20%;
    float: left;
    margin-bottom: 20px;
    position: relative;
    padding:20px;
    margin-left: 50px;
}
.items h2{ color: #959595}
.items img{
    width: 100%;
    height: 250px;
    background-color: #a1aeb6;
    cursor: pointer;
}
.items .layer-content{
    position: absolute;
    top:0;
    left:0;
    bottom: 0;
    right: 0;
    width:100%;
    height:100%;
    text-align: center;
    background-color: rgba(0,0,0,0.4);
    opacity: 0;
    visibility: hidden;
    transition:opacity 1s;
}
.items:hover .layer-content{
    opacity: 1;
    visibility: visible;
}
.items .layer-info{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 80%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.layer-info .fas, .far{
    line-height: 30px;
    margin-left: 5px;
}
.layer-info  .fa-heart,
.layer-info  .fa-shopping-cart{ 
    display: inline-block;
    font-size: 40px;
    color: #f2f2f2;
    position: relative;
    opacity: 0;
    visibility: hidden;
    transition: .6s;
    transition-delay: .6s; 
}
.items:hover  .fas, .items:hover .far{
    opacity: 1;
    visibility: visible;
}
/*  end first seection  -----antique gallery////////////////// */
.discount-section{
    float: left;
    width: 100%;
    margin-top: 50px;
}
.disc-content{
    float: left;
    width: 45%;
    height: 250px;
background-color: #f4f4f4;
margin-left: 50px;
}
.disc-content h2 {margin-top: 20px;
letter-spacing: 1.5px;
word-spacing: 2px;
color: #909090;
margin-left: 7px;
}
.disc-content h2 span{color:red;}
.disc-content p{
    letter-spacing: 1.5px;
    word-spacing: 2px;
margin-left: 7px;
margin-top: 20px;
color: #909090;
}
.disc-img {
    float: right;
    width: 45%;
}
.disc-item{
    position: relative;
}
.disc-item img{ float: right;
    display: inline-block;
    width: 40%;
    height: 250px;
margin-left: 25px;
transition: .5s ease;}
.disc-item:hover img{
    transform: scale(1.2, 1.2);
}
.disc-title h3{
    position: absolute;
top: 10px;
left: 90px;
font-size: 20px;
}
/* end of discount section------------------------- */

.service{
    width: 100%;
margin-top: 70px;
float: left;

}
.serv-item{ float: right;
    width: 18%;
    height: 150px;
    border-left: 2px solid #909090;
}
 .serv-img{ 
    width: 80px;
    height: 70px;
    margin-left: 25px;
    border: 1px solid #a1aeb6;
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    transition: all 2s;
}
.serv-item:hover .serv-img{
background-position: center center;
}
.serv-1{
 background-image: url('../images/pencil-gcb62b9eb3_1280.jpg');
}
.serv-2{
    background-image: url('../images/truck-g2ee1e5368_640.png');
   }
   .serv-3{
    background-image: url('../images/support-gf5e0a5f1a_1280.png');
   }
   .serv-4{
    background-image: url('../images/quality-g3cf3eb6b2_1280.jpg');
   }
   .serv-5{
    background-image: url('../images/cut-gef0bb7a43_640.png');
   }
.serv-item p{margin-top: 20px;
    margin-left: 25px;
}
  .end-line{
    display: block;
    width: 80%;
    height: 3px;
    margin: 70px auto  50px auto;
    background-color: #909090;
}

/* end of service section---3----------------------- */
/* start of section 4 featured products ----------------*/

.features-cards{
    width: 100%;
    float: left;
}
.card-container {
    float: right;
    width: 25%;
    height: 400px;
    margin: 70px 30px;
    position: relative;
    border: 1px solid #f2f2f2;
    background-color: #dbd6d6;
}
.card{
    position: absolute;
    height: 90%;
    width: 80%;
    margin: 25px 33px;
    transform-style: preserve-3d;
    transition: all 1.5s ease-in-out;
}
.card:hover{
    transform: rotatey(180deg);
}

.thefront{
  position: absolute;
    height: 100%;
    width: 100%;  
    z-index: 1;
}
.card .img-1{
    background-image: url('../images/antique-g9d2e15c3a_1920.png');
    background-repeat: no-repeat;
    background-size: cover;
}
.card .img-2{
    background-image: url('../images/img2.png');
    background-repeat: no-repeat;
    background-size: cover;
}
.card .img-3{
    background-image: url('../images/img3.png');
    background-repeat: no-repeat;
    background-size: cover;
}
.theback{
    position: absolute;
      height: 100%;
      width: 100%;  
      background-color: #909090;
      transform: rotatey(180deg);
  }
  .theback:hover{z-index: 2;}
  .last-sec-icons{visibility: hidden;
    display: inline-block;
    width: 25%;
    margin: 5% 5%;}
.last-sec-icons a{
    font-size: 35px;
    margin-left: 15px;
    color: #f2f2f2;
}
.theback:hover .last-sec-icons a{
    visibility: visible;
    color: #8dc5eb;
}
/* end of section 4--------------------------- */

